@model IEnumerable<Libreria.LogicaNegocio.Entidades.Tema>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
 
<div>@ViewBag.Mensaje</div>
<div>
    <a asp-action="Index">Back to List</a>
    <a asp-action="Index" asp-controller="Tema">Temas</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
